.message{
    color: #3a3a3a;
    font-size: 15px;
    width: 60%;
    margin-bottom: 10px;
    padding: 20px;
}

.customer .message{
    background-color: #6ec1e6;
    border-radius: 20px 20px 00px;
    border: 1px solid #e3e3e3;
    color: #fff;
}
.bot .message{
    background-color: #fff;
    border-radius: 0px 20px 20px;
    border: 1px solid #e3e3e3;
}
.time{
    color: #969696;
    font-size: 12px;
}

.bot{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.customer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;   
}

.form{
    display: flex;
    margin-top: 15px;
    box-shadow: #d4d4d4 0px 2px 5px 0px;
    outline: none;
}
.form input{
    border: 1px solid #e7e7e7;
    width: 100%;
    padding: 20px 10px;
}
.form button{
    width: 50px;
    background: #3da0cc;
    border: 1px solid #3da0cc;
    font-size: 25px;
    color: #fff;
}

.load{
    color: #3a3a3a;
}